# Workspace Files

# Gradle
.gradle/
build/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
classes/

# Eclipse
.classpath
.settings/
.project/
/.project
bin/
eclipse/

# Misc

backups/
Forum Resources/
build.bat
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
setup workspace.bat
setup eclipse.bat
*.launch
run/

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Operating System Files

# Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
